[data-theme="dark"] {
    --font-color: white;
    --bg-color: #404040;
    --link-color: #3bd1ff;
}
[data-theme="light"] {
    --font-color: #2b2b2b;
    --bg-color: white;
    --link-color: blue;
}
.bg {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.darkToggleBox {
    vertical-align: middle;
}
 a {
    color: var(--link-color) !important;
 }