.Bullseye-horizontal-line,
.Bullseye-vertical-line {
    position: absolute;
    pointer-events: none;
}

.Bullseye-horizontal-line {
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px dotted grey;
}

.Bullseye-vertical-line {
    top: 0;
    width: 0;
    height: 100%;
    border-left: 1px dotted grey;
}
