.GenomePicker-main {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /* height: 60vh; */
    grid-gap: 10px;
    width: 80%;
    margin: auto;
}

.GenomePicker-species {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.GenomePicker-nav {
    display: flex;
    justify-content: space-between;
}

.GenomePicker-select {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

.capitalize:first-letter {
    text-transform: uppercase;
}

.GenomePicker-one-species label {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border: 2px solid orange;
    padding: 5px;
    cursor: pointer;
}

.GenomePicker-one-species:hover,
.GenomePicker-assembly > label:hover {
    transform: translateX(2%);
    transition: transform 0.5s;
}

.GenomePicker-assembly > label {
    padding: 3px;
    border-bottom: 1px solid orangered;
    cursor: pointer;
    font-style: italic;
    display: grid;
    grid-template-columns: auto auto;
}

.GenomePicker-holder {
    display: grid;
    grid-template-columns: auto auto;
}

/* .GenomePicker-img {
    height: auto;
    width: 200px;
} */
