/*
https://stackoverflow.com/questions/12251750/can-media-queries-resize-based-on-a-div-element-instead-of-the-screen
followint this example https://codepen.io/EightArmsHQ/pen/mvqJwg?editors=1100
*/

:root {
    --breakpoint: 600px;
    --multiplier: calc(var(--breakpoint) - 100%);
}

.Nav-container {
    display: flex;
}

.panel {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    .element {
        min-width: 33%;
        max-width: 100%;
        flex-grow: 1;
        flex-basis: calc(var(--multiplier) * 999);
    }
}

.element {
    padding: 0 1px;
}

.Nav-genome {
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    width: 180px;
}

.Nav-genome:hover {
    opacity: 0.8;
}

.Nav-center {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #aac5f7;
}

#theNew {
    color: red;
    font-size: 0.7em;
    position: absolute;
    top: 3px;
    left: 50px;
    transform: rotate(-10deg);
    animation-name: example;
    animation-duration: 1s;
}

/* The animation code */
@keyframes example {
    from {
        font-size: 1.4em;
    }
    to {
        font-size: 0.7em;
    }
}

#theVersion {
    color: red;
    font-size: 0.7em;
    position: absolute;
    top: 2px;
    left: 130px;
}

#logoDiv {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.GenomeNavigator-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.GenomeNavigator-tooltip:hover .GenomeNavigator-tooltiptext {
    visibility: visible;
}

.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext {
    widows: 240px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 24%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#legendWidth {
    width: 6ch;
}

.capitalize {
    display: inline-block;
}

.capitalize:first-letter {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.otherGenome-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, auto);
}

.otherGenome-label:hover {
    cursor: pointer;
    border-bottom: 1px solid blue;
}
