.Nav-container {
    display: grid;
    /* grid-auto-flow: column;
    grid-auto-columns: auto; */
    grid-template-columns: repeat(8, auto) 1fr;
    justify-items: start;
    /* grid-template-columns: min-content; */
}

@media screen and (max-width: 1050px) {
    .Nav-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: center;
    }
}

@media screen and (max-width: 630px) {
    .Nav-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-items: center;
    }
}

@media screen and (max-width: 436px) {
    .Nav-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }
}

@media screen and (max-width: 234px) {
    .Nav-container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }
}

.Nav-container > div {
    padding: 0 1px;
}

.Nav-genome {
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.Nav-genome:hover {
    opacity: 0.8;
}

.Nav-center {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #aac5f7;
}

#theNew {
    color: red;
    font-size: 0.7em;
    position: absolute;
    top: 3px;
    left: 50px;
    transform: rotate(-10deg);
    animation-name: example;
    animation-duration: 1s;
}

/* The animation code */
@keyframes example {
    from {font-size: 1.4em;}
    to {font-size: 0.7em;}
}

#theVersion {
    color: red;
    font-size: 0.7em;
    position: absolute;
    top: 3px;
    left: 150px;
}

#logoDiv {
    display: flex;
    flex-direction: column-reverse;
}

.GenomeNavigator-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.GenomeNavigator-tooltip:hover .GenomeNavigator-tooltiptext {
    visibility: visible;
}

.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext {
    widows: 240px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 24%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#legendWidth {
    width: 6ch;
}