.Nav-container {
    display: grid;
    /* grid-auto-flow: column;
    grid-auto-columns: auto; */
    grid-template-columns: repeat(8, auto) 1fr;
    justify-items: start;
    /* grid-template-columns: min-content; */
}

.Nav-container > div {
    padding: 0 5px;
}

.Nav-genome {
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    width: 243px;
}

.Nav-genome:hover {
    opacity: 0.8;
}

.Nav-center {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #aac5f7;
}

#theNew {
    color: red;
    font-size: 0.7em;
    position: absolute;
    top: 1px;
    left: 100px;
    transform: rotate(-10deg);
    animation-name: example;
    animation-duration: 1s;
}

/* The animation code */
@keyframes example {
    from {font-size: 1.4em;}
    to {font-size: 0.7em;}
}
