#CustomTrackAdder .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#CustomTrackAdder .nav-pills > li > a {
    border-radius: 0;
}

#CustomTrackAdder .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}