:root {
    --colNum: 2;
}

.facet-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px
}

.facet-config {
    display: grid;
    grid-template-columns: auto auto auto;
}

.facet-outer {
    display: block;
}

.facet-content {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(var(--colNum), auto);
    grid-auto-flow: row dense;
    grid-auto-columns: min-content;
    margin-top: 50px;
    overflow: hidden;
}

.facet-content  > div {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
}

.facet-swap {
    background-color: #4CAF50;
    color: #ffffff;
    border-color: #4CAF50;
    cursor: pointer;
}

.facet-holder {
    grid-column-start: 1;
    grid-column-end: 2;
}

.facet-row-header {
    grid-column-start: 1;
    grid-column-end: 2;
}

.facet-column-header span{
    /* transform: rotate(-60deg) translateY(65%); */
    /* transform: rotate(-90deg) translateY(90%);
    transform-origin: left bottom 0;
    display: inline-block;
    width: 1rem;
    margin: 3px;
    white-space: nowrap; */
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 1rem;
    white-space: nowrap;
}

.facet-column-header div {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 1rem;
    white-space: nowrap;
}

div.facet-column-header {
    padding-left: 2px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.facet-column-header {
    align-self: end;
}

.facet-content button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button.expanded {
    font-style: italic;
    color: #777;
}

.facet-item:hover:after {
    content: '';  
    height: 10000px;
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

.facet-item:hover:after {
    background-color: rgba(115, 115, 63, 0.1);
}

.facet-item:hover:before {
    content: '';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    width: 10000px;
    z-index: 1;
    pointer-events: none;
}

.facet-item:hover:before {
    background-color: rgba(115, 115, 63, 0.1);
}

button.not-button {
    cursor: text;
}
