.TrackManager-parent {
    /*
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    */
}

.TrackManager-sidebar {
    /*
    border: 1px solid black;
    box-shadow: 5px 0px 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;

    padding: 20px;
    */
}

.TrackManager-submenu {
}
