.TrackList-parent {
    /*
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    */
}

.TrackList-sidebar {
    /*
    border: 1px solid black;
    box-shadow: 5px 0px 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;

    padding: 20px;
    */
}

.TrackList-submenu {
    /* position: fixed;
    top: 2px;
    left: 302px;
    background-color: #F9F9F9;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 20px, rgba(0, 0, 0, 0.227451) 0px 6px 6px;
    width: 100vw;
    height: 100vh */
}

.TrackList-tracklist {
    display: flex;
    justify-items: flex-start;
    list-style-type: none;
}

.TrackList-remove-track-button {
    color: red;
    padding-left: 3px;
}
.TrackList-remove-track-button:hover {
    color: darkred;
}
