.Track {
    position: relative;
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 1px;  /* Makes Track-selected-border visible if background color also exists */
}

.Track-selected-border {
    background-image:
        url('/img/border-anim-h.gif'),
        url('/img/border-anim-h.gif'),
        url('/img/border-anim-v.gif'),
        url('/img/border-anim-v.gif');

    /* Repeat horizontally for the horizontal dashes, vertically for the vertical dashes */
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    
    /* top, bottom, left, right.  Corners selected in preparation for clockwise rotation. */
    background-position: left top, right bottom, left bottom, right top;
}
