.MetadataHeader-container {
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 5px;
}

.MetadataHeader-terms {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    writing-mode: vertical-lr;
    text-align: right;
    vertical-align: middle;
}
