.MetadataSelectionMenu ul {
    list-style-type: none;
}
.MetadataSelectionMenu {
    position: absolute;
    z-index: 4;
    background: #edeef1;
    padding: 5px;
    /* right: 60px; */
    /* top: 40px; */
    min-width: 240px;
}
