 :root {
    /* --scaleFraction: 1; */
    --screenshotWidth: 279.4mm;
}

/*
@media print {
    @page { 
        size: 279.4mm 215.9mm; 
        margin: 10mm;
    }
    body {
        transform: scale(var(--scaleFraction));
    }
} */
        /* zoom: var(--scaleFraction); */


/* @page { 
    size: auto; 
    margin: 10mm;
} */

@page { 
    size: var(--screenshotWidth) 215.9mm; 
    margin: 10mm;
    /* transform: scale(var(--scaleFraction)); */
}

@media print {
    @page { 
        size: var(--screenshotWidth) 215.9mm; 
        margin: 10mm;
    }
}