.tool-container {
    display: flex;
    align-items: center;
}

.tool-panel {
    flex-grow: 1;
}

.tool-panel {
    display: flex;
    flex-wrap: wrap;
    .tool-element {
        min-width: 33%;
        max-width: 100%;
        flex-grow: 1;
        flex-basis: calc(var(--multiplier) * 999);
    }
}
