.tool-container {
    display: flex;
    align-items: center;
}

.tool-panel {
    flex-grow: 1;
}

.tool-panel {
    display: flex;
    flex-wrap: wrap;
    .tool-element {
        min-width: 33%;
        max-width: 100%;
        flex-grow: 1;
        flex-basis: calc(var(--multiplier) * 999);
    }
}

#beamLeft {
    position: absolute;
    border: 1px solid rgb(128, 166, 255);
    z-index: 10;
    display: none;
    top: 0;
    height: 100%;
    will-change: left;
    pointer-events: none;
}

#beamLeftInner {
    background-color: blue;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#beamRight {
    position: absolute;
    border: 1px solid rgb(255, 133, 92);
    z-index: 10;
    display: none;
    top: 0;
    height: 100%;
    will-change: left;
    pointer-events: none;
}

#beamRightInner {
    background-color: rgb(245, 61, 0);
    opacity: 0.1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
