
.GenomeNavigator-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted gray; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: gray;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.GenomeNavigator-tooltip:hover .GenomeNavigator-tooltiptext {
    visibility: visible;
}

.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext {
    top: -20px;
    left: 120%; 
}

.GenomeNavigator-tooltip .GenomeNavigator-tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent gray transparent transparent;
}