.IsoformSelection {
    padding: 0;
    margin: 0;
    font-size: smaller;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: auto;
}

.IsoformSelection-item {
    border: 1px solid lightgrey;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.IsoformSelection-item:hover {
    background-color: #fdbb84;
    cursor: pointer;
}

.IsoformSelection-item td {
    padding: 0px 5px;
}

.IsoformSelection-description {
    font-size: x-small;
    min-width: 200px;
}
