.TrackContextMenu-body {
    z-index: 1;
    min-width: 200px;
    max-width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.25rem;
    font-size: small;
}

.TrackContextMenu-item {
    border-top: 1px solid lightgrey;
    margin-top: -1px;
    padding: 8px 5px;
}

.TrackContextMenu-hoverable-item:hover {
    background-color: #20a0ff;
}

.TrackContextMenu-hoverable-item-danger:hover {
    background-color: pink;
    cursor: pointer;
}

.TrackContextMenu-hoverable-item-warn:hover {
    background-color: #f3ba12;
    cursor: pointer;
}

.TrackContextMenu-URL {
    font-style: italic;
    word-break: break-all;
    overflow-wrap: break-word;
}

.Collapsible h6 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1em
}

.Collapsible table {
    margin-bottom: 0;
}

.Collapsible p {
    margin-bottom: 3px;
}

.Collapsible__trigger {
    font-weight: bold;
    padding-left: 3px;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    display: block;
}

.Collapsible__trigger:after {
    content: '▼';
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    transition: transform 300ms; 
}

.Collapsible__trigger.is-open:after {
    transform: rotate(0deg); 
}