.Tooltip-body {
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.95);
}

.Tooltip-major-text {
    font-size: 1.2em;
}

.Tooltip-minor-text {
    font-size: 0.8em;
    color: dimgrey;
}
