.Tooltip {
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.95);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    z-index: 2;
}

.Tooltip-major-text {
    font-size: 1.2em;
}

.Tooltip-minor-text {
    font-size: 0.8em;
    color: dimgrey;
}
